absl-py==0.12.0
adal==1.2.7
asgiref==3.3.4
asn1crypto==1.4.0
astunparse==1.6.3
attrs==21.2.0
azure-cognitiveservices-speech==1.17.0
azure-nspkg==3.0.2
backcall==0.1.0
beautifulsoup4==4.9.3
bleach==3.1.3
boto==2.49.0
boto3==1.11.13
botocore==1.14.13
bs4==0.0.1
cached-property==1.5.2
cachetools==4.2.2
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
click==7.1.2
cmake==3.20.2
cryptography==2.1.4
cvlib==0.2.6
cycler==0.10.0
decorator==4.4.2
defusedxml==0.7.1
Django==3.2.3
django-crispy-forms==1.11.2
django-extensions==3.1.3
dlib==19.22.0
docutils==0.15.2
docx==0.2.4
entrypoints==0.3
face-recognition==1.3.0
face-recognition-models==0.3.0
flatbuffers==1.12
futures==3.1.1
gast==0.4.0
google-api-core==1.28.0
google-auth==1.30.1
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.4
google-pasta==0.2.0
googleapis-common-protos==1.53.0
goslate==1.5.1
grpcio==1.34.1
h5py==3.1.0
httplib2==0.19.1
idna==2.10
imageio==2.9.0
imageio-ffmpeg==0.4.3
importlib-metadata==1.6.0
imutils==0.5.4
install==1.3.4
ipykernel==5.1.4
ipython==7.13.0
ipython-genutils==0.2.0
isodate==0.6.0
itsdangerous==1.1.0
jedi==0.16.0
Jinja2==2.11.2
jmespath==0.9.4
joblib==1.0.0
json5==0.9.3
jsonschema==3.2.0
jupyter-client==6.0.0
jupyter-core==4.6.3
jupyterlab-server==1.0.7
Keras-Applications==1.0.8
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
keyring==10.6.0
kiwisolver==1.1.0
lazr.restfulclient==0.13.5
lazr.uri==1.0.3
lxml==4.6.1
Markdown==3.2.2
MarkupSafe==1.1.1
matplotlib==3.1.1
mistune==0.8.4
moviepy==1.0.3
msrest==0.6.21
msrestazure==0.6.4
nbconvert==5.6.1
nbformat==5.0.4
nltk==3.5
notebook==6.0.3
numpy==1.19.5
oauth==1.0.1
oauthlib==3.1.0
opencv-python==4.5.1.48
opt-einsum==3.3.0
packaging==20.8
pandas==0.25.1
pandocfilters==1.4.2
parso==0.6.2
pbr==5.6.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.0.1
proglog==0.1.9
progressbar==2.5
prometheus-client==0.7.1
prompt-toolkit==3.0.4
protobuf==3.12.2
ptyprocess==0.6.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
PyDictionary==2.0.1
Pygments==2.6.1
PyJWT==2.1.0
pymacaroons==0.13.0
PyNaCl==1.1.2
pyparsing==2.4.7
pyRFC3339==1.0
pyrsistent==0.15.7
python-dateutil==2.8.1
python-docx==0.8.11
pytz==2020.5
pyzmq==19.0.0
regex==2020.7.14
requests==2.25.1
requests-oauthlib==1.3.0
rsa==4.7.2
s3transfer==0.3.3
scipy==1.5.4
SecretStorage==2.3.1
Send2Trash==1.5.0
Shapely==1.7.1
six==1.15.0
smart-open==1.9.0
soupsieve==2.0.1
sqlparse==0.4.1
tensorboard==2.5.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.5.0
tensorflow-estimator==2.5.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
testresources==2.0.1
tornado==6.0.4
tqdm==4.49.0
traitlets==4.3.3
typing-extensions==3.7.4.3
uritemplate==3.0.1
urllib3==1.25.11
wadllib==1.3.2
wcwidth==0.1.8
webencodings==0.5.1
Werkzeug==1.0.1
wrapt==1.12.1
zipp==3.1.0
