{% extends "core/base.html" %}
{% load crispy_forms_tags %}

{% block content1 %}

<style>

	.contentDiv
	{
		text-align : center;
		background-color : #001F3F;
		color : #FFFFFF;
	}

	.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

</style>

<br><br><br><br><br>

	<table class = "center">

		<tr> <th> Sr No. </th> <th> Guildelines </th> </tr>
		<tr> <th> 1) </th> <th> Use Upload button to submit Video (Format must be mp3, mp4 or wav)</th> </tr>
		<tr> <th> 2) </th> <th> Consider the camera as an actual person and maintain eye contact accordingly</th> </tr>
		<tr> <th> 3) </th> <th> Do not hold the mic in front of face while recording</th> </tr>
		<tr> <th> 4) </th> <th> Speak loudly so that mic can capture your voice and use one language throughout the interview</th> </tr>
		<tr> <th> 5) </th> <th> Please note the reference number that appears after a successful submission for further queries</th> </tr>
		<tr> <th> 6) </th> <th> You will get an email with results alternatively you can check the same in 'VIEW RESULTS' menu</th> </tr>

	</table>


</div>

{% endblock content1 %}
